
@media (max-width: 1080px){
    .nav{
        padding: 15px;
    }
    .container{
        width: 90%;
        margin: 0 auto;
    }
    section{
        padding: 3rem 0 2rem;
    }
    .shop{
        margin-top: 2rem;
    }
}


/* For Medium Device */
@media (max-width: 400px){
    .nav{
        padding: 11px;
    }
    .logo{
        font-size: 1.5rem;
    }
    .cart{
        width: 320px;
    }
}


@media (max-width: 360px){
    .shop{
        margin-top: 1rem;
    }
    .cart{
        width: 250px;
    }
}